@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");
body {
  background: #F2F2F2;
  margin: 0;
  font-family: "Prompt", sans-serif;
  color: #fff;
  padding-left: 240px;
}
main {
  position: relative;
  height: 100vh;
}
main .helper {
  background: rgba(0, 0, 0, 0.2);
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-25%, -25%, 0);
  padding: 1.2em 2em;
  text-align: center;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Prompt", sans-serif;
  width: 100%;
}
main .helper span {
  color: rgba(0, 0, 0, 0.2);
  font-size: 0.4em;
  display: block;
}
.menu {
  background: #F65865;
  height: 100vh;
  width: 240px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  outline: none;
  font-family: "Prompt", sans-serif;
}
.menu .avatar {
  background: rgba(0, 0, 0, 0.1);
  padding: 2em 0.5em;
  text-align: center;
}
.menu .avatar img {
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #ffffff;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
}
.menu .avatar h2 {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 0;
}
.menu ul {
  list-style: none;
  padding: 0.5em 0;
  margin: 0;
}
.menu ul li {
  padding: 0.5em 1em 0.5em 3em;
  font-size: 0.95em;
  font-weight: regular;
  background-repeat: no-repeat;
  background-position: left 15px center;
  background-size: auto 20px;
  transition: all 0.15s linear;
  cursor: pointer;
}
.menu ul li.icon-dashboard {
  background-image: url("http://www.entypo.com/images//gauge.svg");
}
.menu ul li.icon-customers {
  background-image: url("http://www.entypo.com/images//briefcase.svg");
}
.menu ul li.icon-users {
  background-image: url("http://www.entypo.com/images//users.svg");
}
.menu ul li.icon-settings {
  background-image: url("http://www.entypo.com/images//tools.svg");
}
.menu ul li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.menu ul li:focus {
  outline: none;
}

@media screen and (max-width: 900px) and (min-width: 300px) {
  body {
    padding-left: 0;
  }
  .menu {
    width: 230px;
    box-shadow: 0 0 0 100em rgba(0, 0, 0, 0);
    transform: translate3d(-230px, 0, 0);
    transition: all 0.3s ease-in-out;
  }
  .menu .smartphone-menu-trigger {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 100%;
    background: #F65865;
  }
  .menu .smartphone-menu-trigger:before,
  .menu .smartphone-menu-trigger:after {
    content: "";
    width: 50%;
    height: 2px;
    background: #fff;
    border-radius: 10px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
  .menu .smartphone-menu-trigger:after {
    top: 55%;
    transform: translate3d(-50%, -50%, 0);
  }
  .menu ul li {
    padding: 1em 1em 1em 3em;
    font-size: 1.2em;
  }
  .menu:focus {
    transform: translate3d(0, 0, 0);
    box-shadow: 0 0 0 100em rgba(0, 0, 0, 0.6);
  }
  .menu:focus .smartphone-menu-trigger {
    pointer-events: none;
  }
}
a {
  font-family: "Prompt", sans-serif;
  color: #fff;
  padding: 0.5em 1em 0.5em 3em;
  font-size: 0.95em;
  font-weight: regular;
  background-repeat: no-repeat;
  background-position: left 15px center;
  background-size: auto 20px;
  transition: all 0.15s linear;
  cursor: pointer;
}
a:hover {
  color: #fff;
  transition: 1s;
  background-color: rgba(224, 224, 224, 0.1);
  outline: none;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);
.snip1336 {
  font-family: "Roboto", Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  line-height: 1.4em;
  background-color: #141414;
  left: 50px;
}
.snip1336 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.snip1336 img {
  max-width: 100%;
  vertical-align: top;
  opacity: 0.85;
}

img {
  pointer-events: none;
}

.snip1336 figcaption {
  width: 100%;
  background-color: #141414;
  padding: 25px;
  position: relative;
}
.snip1336 figcaption:before {
  position: absolute;
  content: "";
  bottom: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 55px 0 0 400px;
  border-color: transparent transparent transparent #141414;
  transition: all 0.5;
}

.snip1336 figcaption a {
  padding: 5px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 0.7em;
  text-transform: uppercase;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.65;
  width: 47%;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}
.snip1336 figcaption a:hover {
  opacity: 1;
}
.snip1336 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 25px;
  z-index: 1;
  max-width: 90px;
  opacity: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.snip1336 .follow {
  margin: center;
  border-color: #2980b9;
  color: #2980b9;
  transform: center;
  width: 100%;
}

.snip1336 .detail {
  margin: center;
  border-color: #e25788;
  color: #e25788;
  transform: center;
}

.snip1336 .detailb {
  margin: center;
  border-color: #e25788;
  color: #e25788;
  transform: center;
}

.snip1336 h2 {
  margin: 0 0 5px;
  font-weight: 300;
}
.snip1336 h2 span {
  display: block;
  font-size: 0.5em;
  color: #2980b9;
}
.snip1336 p {
  margin: 0 0 10px;
  font-size: 0.8em;
  letter-spacing: 1px;
  opacity: 0.8;
}

input[class="form-input"] {
  width: 240px;
  height: 50px;

  margin-top: 2%;
  padding: 15px;

  font-size: 16px;
  font-family: "Abel", sans-serif;
  color: #5e6472;

  outline: none;
  border: none;

  border-radius: 0px 5px 5px 0px;
  transition: 0.2s linear;
}
input[id="txt-input"] {
  width: 250px;
}
/* focus  */
input:focus {
  transform: translateX(-2px);
  border-radius: 5px;
}

/* //////////////////////////////////////////// */
/* //////////////////////////////////////////// */

/* input[type="text"] {min-width: 250px;} */
/* buttons  */
button {
  display: inline-block;
  color: #252537;

  width: 280px;
  height: 50px;

  padding: 0 20px;
  background: #fff;
  border-radius: 5px;

  outline: none;
  border: none;

  cursor: pointer;
  text-align: center;
  transition: all 0.2s linear;

  margin: 7% auto;
  letter-spacing: 0.05em;
}
/* Submits */
.submits {
  width: 48%;
  display: inline-block;
  flo: left;
  margin-left: 2%;
}

/*       Forgot Password button FAF3DD  */
.frgt-pass {
  background: transparent;
}

/*     Sign Up button  */
.sign-up {
  background: #b8f2e6;
}

/* buttons hover */
button:hover {
  transform: translatey(3px);
  box-shadow: none;
}

/* buttons hover Animation */
button:hover {
  animation: ani9 0.4s ease-in-out infinite alternate;
}
@keyframes ani9 {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(5px);
  }
}
.btn-details button {
  border: 0.8px solid;
  border-radius: 0%;
  margin: center;
  border-color: #e25788;
  color: #e25788;
  transform: center;
  background-color: transparent;
  width: 100%;
  font-family: "Prompt", sans-serif;
}

.btn-license button {
  border: 0.8px solid;
  border-radius: 0%;
  margin: center;
  border-color: #2980b9;
  color: #2980b9;
  transform: center;
  background-color: transparent;
  width: 100%;
  font-family: "Prompt", sans-serif;
}

.pagination-p1 {
  position: relative;
  align-items: center;
  text-align: center;
}
t
.card-center {
  text-align: right;
}
.con-setting {
  background: rgba(20, 20, 20,1);
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 5%;
  text-align: center;
  right: 40%;
}
.container {
  text-align: center;
}

.btn-details-general button {
  border: 2px solid;
  border-radius: 0%;
  margin: center;
  border-color: #e25788;
  color: #e25788;
  transform: center;
  background-color: transparent;
  width: 50%;
  font-family: "Prompt", sans-serif;
}

input[class="form-input2"] {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 28px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 90%;
  transition: width 0.5s;
}
.form-input2:focus {
  background-color: #e25788;
  width: 95%;
  color: #2980b9;
}

.form-input2:focus::placeholder {
  color: rgba(255, 255, 255, 0.9);
}



.license-form{
  background-color:#141414;
  margin-top: 10%;
  padding-right: 10%;
  padding-left: 10%;
  padding-top:10%;
  padding-bottom:10%;
  border-radius: 5px;
}


/*----------------------------------------------------------------*/
@media screen and (max-width: 900px){
  .license-form{
    background-color:#141414;
    margin-top:50%;
    
  }

  .con-setting {
    background: rgba(20, 20, 20,1);
    margin-right: 20%;
    margin-left: 20%;
    margin: 5px;
    text-align: center;
    right: 40%;
    top: 20px;
    
  }
  .btn-license-all button{
    border: 0.8px solid;
    border-radius: 0%;
    border-color: #fff;
    color: #fff;
    background-color: #5cb85c;
    transform: right;
    width: 30%;
    font-family: "Prompt", sans-serif;
  }
  
  
}
.status-not{
  border-style: solid;
  border-radius:20px;
  padding:5px;
  font-size: 18px;
  background-color:#d9534f ;
  border-width: thin;
  border-color: #d9534f ;
}
.status-received{
  border-style: solid;
  border-radius:20px;
  padding:5px;
  font-size: 18px;
  background-color:#5cb85c  ;
  border-width: thin;
  border-color: #5cb85c   ;
  transition:  0.5s;
  width: 80%;
  
}
.status-received:hover{
  padding: 10px;

}
.btn-appsend button{
  margin: 20px;
}
.button-del{
  font-size: 30px;
  border-style: solid;
  border-color: #5cb85c   ;
  text-align: center;
  position: relative;
}
.d-button-del{
  width: 100%;
  

}
.like{
  color: rgb(253,29,29);
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 35px;
  text-align: center;
  transition: width 0.5s;
}

.like a{
  color: #fff;
}
.btn-like button{
  background-color:transparent;
  font-size: 30px;
  color: #fff;
  text-align: left;
  margin-bottom: 1px;
  padding-left: 2px;
  font-family: 'Asap', sans-serif;
  transform: none;
}
.like-s button{
  color :orange;
  transform: none;
  
}
.like-appsend{
  color: #fff;
  margin-top: 20px;
  transition: width 0.5s;
}

/*----------------------------------------------------------------
bootstarp */
.form-control{
  width: 50%;
  text-align: center;
 
  margin-left: 25%;
}

/*tab*/
.tab{
  background-color:#F65865;
  text-align: center;
  width: 100%;
  font-size: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  
}
/*à¸° button all */
.btn-license-all button{
  border: 0.8px solid;
  border-radius: 0%;
  border-color: #fff;
  color: #fff;
  background-color: #5cb85c;
  transform: center;
  width: 50%;
  font-family: "Prompt", sans-serif;
}
.btn-license-all{
  text-align: center;
  padding-top: 0%;
  
}