{% extends 'layout3.html'%}
{% block content %}
    <div class="container">
    <br>
    <h2 align="center">ตรวจสอบลายเซ็น</h2>
        <br>
 <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ชั้นปี</th>
      <th scope="col">จำนวนลายเซ็นที่ขอ</th>
      <th scope="col">เซ็นให้แล้ว</th>
      <th scope="col">ยังไม่เซ็นให้</th>

      <th scope="col">จำนวนลายเซ็นที่ยังขาด</th>
      <th scope="col">จำนวนที่ต้องการ</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{ edu1 }}</td>
        <td>{{ edu1a }}</td>
      <td>{{ edu1s }}</td>
      <td>{{ sumedu1 }}</td>
      <td>ครบ 106 ลายเซ็น</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>{{ edu2 }}</td>
        <td>{{ edu2a }}</td>
      <td>{{ edu2s }}</td>
      <td>{{ sumedu2 }}</td>
      <td> อย่างน้อย 50 ลายเซ็น </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>{{ edu3 }}</td>
        <td>{{ edu3a }}</td>
      <td>{{ edu3s }}</td>
      <td>{{ sumedu3 }}</td>


      <td>อย่างน้อย 30 ลายเซ็น </td>
    </tr>
  <tr>
      <th scope="row"> 4-8 </th>
      <td>{{ edu4 }}</td>
      <td>{{ edu4a }}</td>
      <td>{{ edu4s }}</td>
      <td>{{ sumedu4 }}</td>
      <td>อย่างน้อย 20 ลายเซ็น </td>
    </tr>
  <tr>
  </tbody>

</table>
    </div>
{% endblock %}