
{% extends 'layoutnew_2021.html'   %}
{% block content  %}
{% load like_filter %}
{%load static%}
<link href="{% static 'css/indexstyle.css' %}" rel="stylesheet">
<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <h4>HELLO  WORLD !!! </h4>
        <h1>I'AM CPE</h1>
        <h4>กิจกรรม ปกส้ม CPE</h4>
      </div>
    </div>
  </div>
  </div>
  <section id="works"></section>
  <div class="container">
    <h2 align="center">ขวัญใจเพื่อน   (Most Like) </h2>
    <h2 align="center" > 
     
      <img src="{{5|findrank}}" class="img-responsive">
     </h2>
    <div class="row centered mt mb">


      <div class="col-lg-4 col-md-4 col-sm-4 gallery">
        <a href=""><img src="{{pic.pic1.url}}" class="img-responsive"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 gallery">
        <a href=""><img src="{{pic.pic2.url}}" class="img-responsive"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 gallery">
        <a href=""><img src="{{pic.pic3.url}}" class="img-responsive"></a>
      </div>
    </div>
  </div>

  <div id="social">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-2">
          <a href="#"></a>
        </div>
        <div class="col-lg-2">
          <a href="#"></a>
        </div>
        <div class="col-lg-2">
          <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        <div class="col-lg-2">
          <a href="#"><i class="fa fa-github"></i></a>
        </div>
        <div class="col-lg-2">
          <a href="#"><i class="fab fa-python"></i></a>
  
        </div>
        <div class="col-lg-2">
          <a href="#"></a>
        </div>
        <p>power by django cpe23 cpe67 </p>
      </div>
    </div>
  </div>
{% endblock %}
