<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1 {font-family: 'Athiti', sans-serif;}
        h2 {font-family: 'Athiti', sans-serif;}
        p   {font-family: 'Athiti', sans-serif;}
        a  {font-family: 'Athiti', sans-serif;}
        th {font-family: 'Athiti', sans-serif;}
        table {font-family: 'Athiti', sans-serif;}
        h3 {font-family: 'Athiti', sans-serif;}



    </style>

    <meta charset="UTF-8">
    <title>CPE</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Athiti:wght@300&display=swap" rel="stylesheet">
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="appsend">CPE ปกส้ม</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
{#      <li class="nav-item ">#}
{#        <a class="nav-link" href="appsend">ลายเซ็นทั้งหมด <span class="sr-only">(current)</span><i class="fas fa-book"></i></a>#}
{#      </li>#}
{#         <li class="nav-item ">#}
{#        <a class="nav-link" href="confirmlic">ตอบรับลายเซ็น <span class="sr-only">(current)</span>  <i class="fas fa-check"></i></a>#}
{#      </li>#}

{#        <li class="nav-item">#}
{#        <a class="nav-link" href="license"> ส่งคำขอลายเซ็น  <i class="far fa-id-card"></i></a>#}
{#      </li>#}

        <li class="nav-item">
        <a class="nav-link" href="checklicense"> ตรวจสอบลายเซ็น  <i class="fa fa-paper-plane" aria-hidden="true"></i></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href='{% url 'signout' %}'>ออกจากระบบ  <i class="fas fa-sign-out-alt"></i></a>
      </li>
     <li class="nav-item active "><a  class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"> Login :   {{ user.userprofile.nickname}} <i class="far fa-user"></i>    </a>

      </li>
    </ul>
  </div>
</nav>
<div class="container">
    {% block  content %}

    {% endblock %}

</div>

</body>

</html>