{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ปกส้ม|login</title>
    <link
    rel="stylesheet"
    href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
    crossorigin="anonymous"
  />
    <link rel="stylesheet" href="{% static "css/stylelogin.css" %}?{% now "U" %}">
    <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>
</head>
<body>
    <div class="overlay">
        <!-- LOGN IN FORM by Omar Dsoky -->
        <form method="POST">
        {% csrf_token %}
           <!--   con = Container  for items in the form-->
           <div class="con">
           <!--     Start  header Content  -->
           <header class="head-form">
              <h2>Log In</h2>
              <!--     A welcome message or an explanation of the login form -->
              <p>เว็บปกส้มทำไมมันไม่ส้มเลย</p>
           </header>
           <!--     End  header Content  -->
           <br>
           <div class="field-set">
             
              <!--   user name -->
                 <span class="input-item">
                    <i class="fas fa-user"></i>
                 </span>
                <!--   user name Input-->
                 <input class="form-input" type="text"  placeholder="username" id="txt-input" name="username" required>
             
              <br>
             
                   <!--   Password -->
             
              <span class="input-item">
                <i class="fa fa-key"></i>
               </span>
              <!--   Password Input-->
              <input class="form-input" type="password" placeholder="Password" id="pwd"  name="password" required>
             
        <!--      Show/hide password  -->
                  <span>
        <i class="fa fa-eye" aria-hidden="true"  type="button" id="eye"></i>
         </span>
     
     
             
              <br>
        <!--        buttons -->
        <!--      button LogIn -->
              <button class="log-in" type="submit"> ปกส้ม | Log In </button>
           </div>
          

             
        <!--   End Conrainer  -->
          </div>
          
          <!-- End Form -->
        </form>
        </div>
        
        <script src="{% static "js/showhide.js" %}"></script>
        
</body>
</html>
{%if messages %}
          {%for m in messages %}

          {% if mes %}
          <script>
            Swal.fire({
              "title":"พบปัญหา!",
              "text":"{{m}}",
              "icon":"error"
            })
          </script>

          {%else %}



            <script>
              Swal.fire({
                "title":"สำเร็จ!",
                "text":"{{m}}",
                "icon":"success"
              })
            </script>


          {%endif%}
          {%endfor%}
          {%endif %}
{% endblock %}