
{% extends 'layout.html'%}
{% load static %}
{% block content %}
{% load crispy_forms_tags %} 
<link rel="stylesheet" href="{% static "css/stylelogin.css" %}">
<div class="overlay">
    <!-- LOGN IN FORM by Omar Dsoky -->
    <form method="POST">
    {% csrf_token %}
       <!--   con = Container  for items in the form-->
       <div class="con">
       <!--     Start  header Content  -->
       <header class="head-form">
          <h2>ลืมรหัสผ่าน ?</h2>
          <!--     A welcome message or an explanation of the login form -->
          <p>กรุณากรอก อีเมล (@ku.th)</p>
       </header>
       <!--     End  header Content  -->
       <br>
       <div class="field-set">
         
          <!--   user name -->
         
               <!--   Password -->
         
          <!--   Password Input-->
          {{ form|crispy }}
         
    <!--      Show/hide password  -->
              <span>
     </span>
 
 
         
          <br>
    <!--        buttons -->
    <!--      button LogIn -->
          <button class="log-in" type="submit"> ยืนยัน | Confirm </button>
       </div>
      

         
    <!--   End Conrainer  -->
      </div>
      
      <!-- End Form -->
    </form>
    </div>


{% endblock %}