
{% extends 'layout.html'%}
{% load static %}
{% block content %}

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="static/css/font-awesome.min.css">
	<link rel="stylesheet" href="static/css/style.css">
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>
 <link
    rel="stylesheet"
    href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
    crossorigin="anonymous"
  />
 
    <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>

<link rel="stylesheet" href="{% static "static/css/style.css" %}?{% now "U" %}">
<div class="overlay">
    <!-- LOGN IN FORM by Omar Dsoky -->
    <form method="POST"action = "" enctype="multipart/form-data">
    {% csrf_token %}
       <!--   con = Container  for items in the form-->
		<section class="ftco-section">
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
						<div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
							<div class="text w-100">
								<h2>Welcome to "First Login"</h2>
								<p>เว็บปกส้มที่ไม่ส้ม อิอิ</p>
								
							</div>
			      </div>
						<div class="login-wrap p-4 p-lg-5">
			      	<div class="d-flex">
			      		<div class="w-100">
		   <header class="head-form">
          <h2>เข้าสู่ระบบครั้งแรก</h2>
          <!--     A welcome message or an explanation of the login form -->
          <p>กรุณาตั้ง username  และ password</p>
       </header>
       <!--     End  header Content  -->
       <br>
       <div class="field-set">
        <span class="input-item">
			 
		   </span>
       
		<label class="label" for="name">Username | ชื่อผู้ใช้งาน  </label><i class="fas fa-user"></i>
        <input class="form-control" type="text" placeholder="username" id="username"  name="username" required><br>
        <span class="input-item">
   
      
		   <label class="label" for="password">Password | รหัสผ่าน  </label>                 
		  <span><i class="fa fa-key"></i>
         </span>
        <input class="form-control" type="password" placeholder="password" id="password1"  name="password1" required><br>
        <span class="input-item">
		
			
        
		   <label class="label" for="password">Confirm Password | ยืนยันรหัสผ่าน  </label>                   
		  <span><i class="fa fa-key" ></i>
         </span>
        <input class="form-control" type="password" placeholder="password2" id="passsword2"  name="passsword2" required><br>			

        <label>ส่วนที่2</label>
 {{form.as_p}}
         
              <span>
     </span>
 
 
         
          <br>
    <!--        buttons -->
    <!--      button LogIn -->
          <button class="form-control btn btn-primary submit px-3" type="submit"> ยืนยัน | Confirm </button>
       </div>
      

						
			
		      </div>
			</div>
		</div>
	</div>
	</section>
       <div class="con">
       <!--     Start  header Content  -->
    
         
    <!--   End Conrainer  -->
      </div>
      
      <!-- End Form -->
    </form>
    </div>
    {%if messages %}
          {%for m in messages %}
              {%if mes%}
                <script>
                  Swal.fire({
                    "title":"สำเร็จ!",
                    "text":"{{m}}",
                    "icon":"success"
                  })
                </script>

              
              
              

              
              {%else%}



              <script>
                Swal.fire({
                  "title":"พบปัญหา",
                  "text":"{{m}}",
                  "icon":"error"
                })
              </script>

              {%endif%}


          {%endfor%}
          {%endif %}


{% endblock %}
